* {
	box-sizing: border-box;
}

body {
	background: url('../assets/organic-tiles.png');
	font-size: 18px;
	line-height: 34px;
	font-family: 'Ariel', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

h1, h2, h2, p {
	margin-bottom: 20px;
}

p:last-child {
	margin-bottom: 0;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-weight: 700;
}

h1 {
	border-bottom: 3px solid #ccc;
	line-height: 49px;
	font-size: 30px;
	padding-bottom: 20px;
}

h2, h3 {
	font-size: 22px;
}

/*header styling*/

#header {
	background: #fff;
	margin: 0 0 30px;
	width: 100%;
	border-bottom: 2px solid #ccc;
	z-index: 99;
	overflow: auto;
	position: fixed;
	color: #fff;
}

#logo {
	background: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 90px;
	text-decoration: none;
	color: #fff;
	text-align: center;
	float: left;
	width: 250px;
	height: 90px;
}

nav {
	float: right;
	margin-top: 25px;
}

nav a {
	color: #999;
	display: inline-block;
	border-left: 1px solid #efefef;
	text-decoration: none;
	margin-left: 15px;
	line-height: 18px;
	padding-left: 15px;
	position: relative;
	left: 47%;
}

nav a:first-child {
	border-left: 0 none;
}

/*about section styling*/

#main-container {
	padding-top: 130px;
}

.main-section {
	margin: 0 0 40px 0;
	padding: 30px;
	background: #fff;
	border: 1px solid #ddd;
	max-width: 650px;
	float: left;
	width: 100%;
}

.me {
	width: 200px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-right: 25px;
}

/*connect styling */

.sidebar {
	width: 100%;
	max-width: 270px;
	padding: 30px;
	background: #fff;
	float: right;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	position: relative;
	left: 15%;
}

h3, .sidebar, h2 {
	margin-bottom: 15px;
	padding-bottom: 20px;
	border-bottom: 2px solid #eee;
	line-height: 22px;
}

.social {
	width: 62px;
	height: 62px;
	margin-top: 8px;
	margin-right: 5px
}

.social:last-child {
	margin-right: 0;
}

/*footer styling*/

footer {
	color: #fff;
	background: #666;
	clear: both;
	border-top: 8px solid #4aaaa5;
	color: #ccc;
	font-size: 12px;
	text-align: center;
	padding: 30px 0;
}

/*portfolio styling*/

.work {
	overflow: auto;
	float: left;
	width: 274px;
	position: relative;
	margin: 20px 0 25px;
}

.work:nth-child(even) {
	margin-right: 40px;
}

.work img {
	width: 100%;
	border: 0 none;
	opacity: .8;
}

.work h3 {
	background: #4aaaa5;
	color: #fff;
	border-bottom: 0;
	position: absolute;
	text-align: center;
	padding: 15px;
	line-height: 30px;
	bottom: 20px;
	width: 100%;
	font-weight: 300;
	margin-bottom: 0;
}

.portfolio-section {
	margin: 0 0 40px 0;
	padding: 30px;
	background: #fff;
	border: 1px solid #ddd;
	max-width: 650px;
	float: left;
	width: 100%;
}

/*contact styling*/

#contact-form ul {
	margin-bottom: 20px;
}

#contact-form li {
	margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
	display: block;
	width: 100%;
}

input[type=text],
input[type=email],
textarea {
	font-size: 14px;
	height: 35px;
	border: 1px solid #ddd;
	padding: 0 10px;
}

textarea {
	height: 200px;
}

input[type=submit] {
	border: 0 none;
	background: #4aaaa5;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	padding: 10px 30px;
}


/*Media Queries*/

@media only screen and (max-width: 980px) {
	.container {
		max-width: 768px;
		padding: 0 20px;
	}

	.main-section,
	.portfolio-section {
		max-width: 420px;
	}

	.work, #header {
		width: 100%;
	}

	nav {
		float: left;
		margin-left: 60px;
	}

	.sidebar {
		float: left;
		margin-left: -70px;
	}
}
	

@media only screen and (max-width: 768px) {
	.main-section,
	.sidebar,
	.portfolio-section {
		max-width: 100%;
	}

	#main-container {
		overflow: auto;
	}

	nav a {
		left: 40%;
	}

	.work, h3 {
    /* Box-model */
    width: 47%;

    /* Positioning */
    margin-bottom: 10px;
  }

  .work:nth-child(even) {
    margin-right: 0;
  }

  .work:nth-child(odd) {
    float: right;
  }

  .auth-image {
    width: 50%;
  }

  .sidebar {
    margin-bottom: 40px;
    margin-left: -105px;
  }
	
}

@media only screen and (max-width: 640px) {
	#header {
		position: static;
	}

	nav {
		width: 100%;
		margin: 15px 0;
		text-align: center;
	}

	nav a {
		width: 30%;
		padding-left: 0;
		margin-left: 0;
		left: 0%;
	}

	#main-container {
		padding: 10px;
		padding-top: 0;
	}

	.container {
		padding: 0;
	}

	.work, img, #logo {
		width: 100%;
	}

	.sidebar {
		left: 105px;
	}

	

}